<div class="container">
  <div class="row">
    <!-- Image and text -->
    <nav class="navbar navbar p-2">
      <h1 class="navbar-brand bold">Where in the world</h1>
      <button class="btn btn-ligth color"> <i class="fa-solid fa-moon" (click)="toggle()"> Dark</i></button>
    </nav>
  </div>
</div>

<!-- <form class="form-inline my-2 my-lg-0">
          TO DO: Evento keyup.enter no redirige al Componente esperado (lleva al HomeComponent) > (keyup.enter)="searchHero( hero .value )"
          <input #country
              (keyup.enter)="searchCountry( country.value )"
              class="form-control mr-sm-2"
              placeholder="Pais"
          >
          <button
              (click)="searchCountry( country.value )"
              type="button"
              class="btn btn-outline-success my-2 my-sm-0"
          >Buscar</button>
      </form> -->